---
layout: default
---

<h1>{{ page.project }}</h1>

<p>{{ page.short }}</p>

<h2>{{ page.project }} People</h2>

<ul>
{% for person in site.people %}
{% if person.projects contains page.project %}
<li> <a href="{{person.website}}">{{ person.name }}</a></li>
{% endif %}
{% endfor %}
</ul>



